// sudo npm run dev
// to initialize Vite

// Local font here:

@font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-Regular.woff') format('woff2'),
        url('/fonts/RobotoMono-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Variables here:

$font1: Roboto;
$font2: Roboto Mono;
$fontsizeheading: 40px;
$fontsizesubheading: 35px;
$fontsizeheaderbody: 20px;
$fontsizebody: 16px;
$fontsizesmallest: 12px;


$color1: #474B71;
$color2: #e9eaec;
$color3: #EDBE06;
$color4: #333652;

$smallscreen: 400px;
$midscreen: 800px;
$bigscreen: 1200px;

// Mixins here:



// Style here:

* {
    box-sizing: border-box;
}

//THIS SHOULD BE USED ALMOST ALWAYS


body {
    font-family: $font1, $font2;
    background-color: $color1;
    min-width: $smallscreen;
    margin: 0;
}



header {
    font-size: $fontsizesmallest;

    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: $color3;


    .links {
        justify-content: space-between;
        font-display: center;
        text-align: justify;
        text-align: center;

        a {
            color: $color4;
            padding: 5%;
            text-decoration: none;

            &:hover {
                color: $color3;
                text-decoration: underline;
            }
        }

    }

    .topsection {
        flex-direction: column;

        background-color: $color4;

        h1 {
            color: $color3;
            font-size: $fontsizeheading;
            margin: 0px 4rem;
            font-display: center;
            text-align: justify;
            text-align: center;
        }

        h2 {
            color: #e9eaec;
            font-size: $fontsizesubheading;
            margin: 0px 0px;
            flex-flow: row nowrap;
            font-display: center;
            text-align: justify;
            text-align: center;
        }

        p {
            color: $color3;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            font-size: $fontsizeheaderbody;
            margin: 0px 4rem;
            font-display: center;
            text-align: justify;
            text-align: center;
        }

    }

}

footer {
    // border: 1px solid red;

    position: fixed; // positioned relative to the viewport so it stays when scrolling
    bottom: 0; // fixed to bottom
    width: 100%; // fills page

    height: auto;

    background-color: $color3;

    .links {
        justify-content: space-between;
        font-display: center;
        text-align: justify;
        text-align: center;

        a {
            color: $color4;
            padding: 5%;
            text-decoration: none;

            &:hover {
                color: $color3;
                text-decoration: underline;
            }
        }

    }

    .bottomsection {


        flex-direction: column;


        background-color: $color4;




        h2 {
            color: #e9eaec;
            font-size: $fontsizesubheading;
            margin: 0px 0px;
            flex-flow: row nowrap;
            font-display: center;
            text-align: justify;
            text-align: center;


        }

        p {
            color: $color3;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            font-size: $fontsizeheaderbody;
            margin: 0px 4rem;
            font-display: center;
            text-align: justify;
            text-align: center;
        }

    }



}



// Reactive here:

@media screen and (min-width: $smallscreen) {}