// sudo npm run dev
// to initialize Vite

// Local font here:

@font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-Regular.woff') format('woff2'),
        url('/fonts/RobotoMono-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Variables here:

$font1: Roboto;
$font2: Roboto Mono;
$fontsizeheading: 40px;
$fontsizesubheading: 35px;
$fontsizeheaderbody: 20px;
$fontsizebody: 16px;
$fontsizesmallest: 12px;


$color1: Pink;
$color2: White;

$smallscreen: 400px;
$midscreen: 800px;
$bigscreen: 1200px;

// Mixins here:



// Style here:


.homesection1{
    font-size: $fontsizebody;
    display: flex;
    justify-content: center;
    
}